{% extends "base.html" %}
{% load static %}
{% block title %}Eliminar Proyecto{% endblock %}

{% block content %}
<main class="container py-5" style="max-width: 600px;">

    <h2 class="text-center text-danger fw-bold mb-4">Eliminar Proyecto</h2>

    <div class="card p-4 shadow contacto-card text-center">

        <p class="fs-5">
            ¿Estás seguro de que deseas eliminar el proyecto 
            <strong class="text-menta">{{ proyecto.titulo }}</strong>?
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="d-flex justify-content-center gap-3 mt-4">
                <a href="{% url 'proyectos' %}" class="btn btn-secondary">Cancelar</a>
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </form>

    </div>

</main>
{% endblock %}