{% extends "base.html" %}
{% load static %}
{% block title %}Proyectos{% endblock %}

{% block content %}
<main class="container py-5 flex-grow-1">

    <div class="container my-5">
    <h2 class="mb-4 text-center">Mis proyectos</h2>
    {% if user.is_staff %}
        <a href="{% url 'crear_proyecto' %}" class="btn btn-turquesa mb-4">Crear nuevo proyecto</a>
    {% endif %}
    <div class="row g-4">
        {% for p in proyectos %}
        <div class="project col-md-6 col-lg-4">
            <div class="card shadow-sm h-100">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}" class="card-img-top" alt="{{ p.titulo }}">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{ p.titulo }}</h5>
                        <p class="card-text">{{ p.descripcion|truncatewords:20 }}</p>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="d-flex gap-2 mt-auto">
                        <a href="{% url 'editar_proyecto' p.pk %}" class="btn btn-warning btn-sm flex-fill">Editar</a>
                        <a href="{% url 'eliminar_proyecto' p.pk %}" class="btn btn-danger btn-sm flex-fill">Eliminar</a>
                    </div>
                    {% endif %}
                    <div class="d-flex gap-2 mt-2">
                        {% if p.repo_url %}
                            <a href="{{ p.repo_url }}" target="_blank" class="btn btn-dark btn-sm flex-fill">Código</a>
                        {% endif %}
                        {% if p.demo_url %}
                            <a href="{{ p.demo_url }}" target="_blank" class="btn btn-secondary btn-sm flex-fill">Demo</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay proyectos disponibles.</p>
        {% endfor %}
    </div>
</div>

</main>
{% endblock %}