{% extends "base.html" %}
{% load static %}
{% block title %}Reporte SQL{% endblock %}

{% block content %}
<main class="container py-5 flex-grow-1">

    <h2 class="text-center text-menta fw-bold mb-4">Reporte SQL de Proyectos y Habilidades</h2>

    <div class="card p-4 shadow">

        <div class="table-responsive">
            <table class="table table-hover align-middle">

                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Proyecto</th>
                        <th>Habilidad</th>
                        <th>Experiencia (%)</th>
                    </tr>
                </thead>

                <tbody>
                    {% for fila in resultados %}
                    <tr>
                        <td>{{ fila.0 }}</td>
                        <td>{{ fila.1 }}</td>
                        <td>{{ fila.2 }}</td>
                        <td>{{ fila.3 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

</main>
{% endblock %}